@import './utils.module.scss';

.detail {
  height: 100vh;
  background-color: white;
}
.detailBox {
  width: 440px;
}
.detailCover {
  position: relative;
  background-color: white;
  .imgBox {
    width: 100%;
    & > img {
      width: 100%;
      @include BGimg(50);
    }
  }
  .diaryInfoBox {
    display: flex;
    justify-content: flex-end;
    margin-top: -6px;
    & > div {
      height: 80px;
      @include basicAlign();
      justify-content: flex-start;
      width: 90%;
      padding-left: 10px;
      box-sizing: border-box;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      background-color: $green;
      color: $white;
      & > img {
        @include circle(2.5);
        margin-right: 10px;
      }
      & > div {
        padding-top: 10px;
        box-sizing: border-box;
        p {
          line-height: 22px;
          font-size: $smallSize;
        }
        p:first-child {
          font-size: $middleSize;
        }
      }
    }
  }
  .diaryTitle {
    height: 150px;
    @include basicPadding();
    margin-top: 20px;
    p {
      font-size: $subMiddleTitle;
      margin-top: 10px;
    }
  }
  .hashtagBox {
    padding: 16px;
    box-sizing: border-box;
    span {
      font-size: $smallSize;
    }
  }
}
.detailList {
  height: 100%;
  background-color: $white;
  .ListSubTitle {
    @include basicAlign();
    @include basicPadding();
    height: 60px;
    color: $white;
    background-color: $green;
    font-size: $middleSize;
  }
  .imgBox {
    img {
      width: 100%;
      @include BGimg(50);
    }
  }
  .diaryTitle {
    @include basicAlign();
    @include basicPadding();
    justify-content: flex-start;
    height: 190px;
    span {
      font-size: $middleSize;
      line-height: 30px;
    }
  }
}
