@import './utils.module.scss';
@import './navFooterStyle.module.scss';

.homeBox {
  padding-top: 60px;
  box-sizing: border-box;
}
.homeBanner {
  height: 200px;
  margin-bottom: 10px;
}
.carousel {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.homeTab {
  @include basicAlign();
  padding: 15px 20px 0;
  width: 100%;
  height: 50px;
  margin: 20px 0 5px;
  button {
    width: 110px;
    border-bottom: 2px solid $darkgray;
    color: $darkgray;
    background-color: $white;
    &:hover {
      border-bottom: 2px solid $green;
      color: $green;
    }
  }
  .select {
    border-bottom: 2px solid $green;
    color: $green;
  }
}

.homeUserInfo {
  padding: 20px 40px;
  box-sizing: border-box;
  height: 200px;
  margin: 10px 0;
  & > h2 {
    font-size: $middleTitle;
    text-align: center;
    margin: 10px 0 15px;
  }
  .userInfo {
    @include basicAlign();
    & > img {
      @include square(5);
    }
    & > div {
      @include basicAlignColumn();
      padding-top: 10px;
      border-left: 1px solid $lightgray;
      margin-left: 20px;
      & > span {
        margin-bottom: 15px;
        text-align: center;
        word-break: keep-all;
        line-height: 22px;
      }
      & > div > button {
        padding: 10px 10px 5px;
        box-sizing: border-box;
        border-radius: $radius-basic;
        font-size: 12px;
        font-weight: $light;
        color: $white;
        background-color: $green;
      }
      button:last-child {
        background-color: $darkgray;
        margin-left: 4px;
      }
    }
  }
}

.diaryList {
  @include basicAlign();
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 3px;
  box-sizing: border-box;
}
.mydiary {
  @include glow();
  @include basicAlignColumn();
  justify-content: center;
  border: 1px solid $lightgray;
  width: 136px;
  height: 200px;
  margin: 4px;
  text-align: center;
  cursor: pointer;
  & > img {
    margin-bottom: 8px;
  }
}
.mydiary:hover {
  box-shadow: 1px 1px 5px $lightgray;
}

.diaryItem {
  @include glow();
  position: relative;
  width: 136px;
  margin: 4px;
  cursor: pointer;
  .imgBackground {
    height: 200px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .content {
    height: 80px;
    @include basicAlignColumn();
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0.8;
    background-color: $white;
    & > p {
      font-size: $basicSize;
    }
    .subContent {
      @include basicAlign();
      img {
        width: 15px;
        height: 15px;
        margin-right: 4px;
      }
      div {
        @include basicAlign();
        padding-top: 5px;
        box-sizing: border-box;
        p {
          margin-right: 4px;
          font-size: $smallSize;
          color: $darkgray;
          font-weight: $light;
        }
      }
    }
  }
}

.footerBar {
  @include basicAlign();
  padding: 0 24px;
  height: 60px;
  background-color: $green;
  margin-bottom: 10px;
  p {
    font-size: $middleSize;
    font-weight: $bold;
    font-family: $LogoFont;
    color: $white;
  }
}
