@import './utils.module.scss';

.warning {
  color: red;
  margin-top: 10px;
  font-size: $smallSize !important;
}
.disabled {
  color: $white !important;
  background-color: $darkgray !important;
  cursor: default !important;
}
.success {
  color: $green !important;
  margin-top: 10px;
  font-weight: 700;
  font-size: $smallSize !important;
}
.loginBox {
  @include basicPadding();
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $white;
}

.logoBox {
  // border: 1px solid red;
  width: 100%;
  height: 230px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  box-sizing: border;
  margin-bottom: 50px;
  div {
    width: 120px;
  }
  h2 {
    font-family: $LogoFont;
    font-size: $mainTitle;
    color: $black;
  }
  h3 {
    margin-top: -20px;
  }
}
.signupTitleBox {
  @include basicAlignColumn();
  position: relative;
  width: 100%;
  margin: 50px 0;
  .lottie {
    width: 60px;
    position: absolute;
    right: 65px;
    top: -20px;
    // transform: translateX(150%);
  }
  & > p {
    margin-bottom: -5px;
    font-family: $LogoFont;
    font-size: $subTitle;
  }
}

.inputBox {
  width: 100%;
  .inputList {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    color: $darkgray;
    & > p {
      margin-bottom: 8px;
      font-size: $middleSize;
      font-weight: 700;
    }
    input {
      width: 100%;
      height: 52px;
      padding-left: 12px;
      border-radius: $radius-basic;
      background-color: $BGgray;
      outline: none;
      font-size: $basicSize;
    }
    input::placeholder {
      color: $darkgray;
      font-size: $basicSize;
    }
    label {
      margin-top: 10px;
      font-size: $smallSize;
    }
    .subCheck {
      @include basicAlign();
      button {
        @include buttonStyle(50);
      }
    }
    .iconBtn {
      position: absolute;
      top: 30px;
      right: 0;
      height: 52px;
      cursor: pointer;
      background-color: $BGgray;
      & > img {
        z-index: 2;
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
      }
    }
  }
}

.buttonBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  text-align: center;
  color: #666666;
  & > button {
    margin: 16px 0;
    height: 52px;
    border-radius: $radius-basic;
    font-weight: $bold;
    color: $white;
    background-color: $green;
  }
  & > span {
    color: $darkgray;
    font-size: $basicSize;
  }
  span:last-child {
    cursor: pointer;
  }
}
