@import "./utils.scss";

.SassComponent {
  display: flex;
  .box {
    cursor: pointer;
    transition: all 0.3s ease-in;

    &.green {
      background-color: $green;
      @include circle(1);
    }
    &.yellow {
      background-color: $yello;
      @include circle(1.5);
    }
  }
}


// <div className="SassComponent">
// <div className="box green" />
// <div className="box yellow" />
// </div>