@import "./utils.module.scss";

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-family: $EduFont;
  font-size: $basicSize;
  letter-spacing: 0.5px;
}
body {
  background-color: $BGgray;
}
.AppBox {
  width: 440px;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid $lightgray;
  background-color: $white;
}
button {
  cursor: pointer;
}
