@import "./utils.module.scss";

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: $EduFont;
  font-size: $basicSize;
  letter-spacing: 0.5px;
}
body {
  background-color: $BGgray;
}
.AppBox {
  width: 440px;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid $lightgray;
  background-color: $white;
}
button {
  cursor: pointer;
}

a {
  &:hover {
    color: inherit;
  }
  &:active {
    color: inherit;
  }
  &:visited {
    color: inherit;
  }
}

.notFoundPage {
  @include basicAlignColumn();
  width: 350px;
  height: 800px;
  margin: 0 auto;
  & > div {
    @include basicAlignColumn();
    p {
      margin-bottom: 15px;
      font-size: $middleTitle;
    }
  }
}
