@import "./utils.module.scss";

@mixin fixNavStyle($color) {
  @include basicAlign();
  position: fixed;
  top: 0;
  width: 440px;
  height: 60px;
  padding: 0 20px;
  background-color: $color;
}

@mixin navStyle($color) {
  @include basicAlign();
  width: 440px;
  height: 60px;
  padding: 0 20px;
  background-color: $color;
}

.homeNav {
  @include fixNavStyle($green);
  & > p {
    font-size: $middleSize;
    font-weight: $bold;
    font-family: $LogoFont;
    color: $white;
    cursor: pointer;
  }
  & > div {
    @include basicAlign();
    & > p {
      margin-left: 20px;
      cursor: pointer;
    }
  }
}

.middleNavBar {
  @include navStyle($white);
  & > div {
    @include basicAlign();
  }
  .middleLeftBar > div {
    @include basicAlign();
  }
  .mainPage {
    & > p {
      margin-right: 8px;
      cursor: pointer;
    }
    > div {
      @include basicAlign();
      cursor: pointer;
      p {
        margin-right: 4px;
      }
    }
  }
  .listPage > p {
    cursor: pointer;
    margin: 0 8px;
  }

  .middleRightBar > p {
    margin: 0 8px;
    cursor: pointer;
  }
}

.subNavBar {
  @include fixNavStyle($green);
  color: white;
  & > p:first-child {
    cursor: pointer;
  }
  & > p:last-child {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.footerBar {
  position: fixed;
  bottom: 0;
  @include basicAlign();
  padding: 0 20px;
  height: 60px;
  width: 439px;
  background-color: $green;
  span {
    font: {
      size: $middleSize;
      weight: $bold;
      family: $LogoFont;
    }
    color: $white;
  }
}
