@charset "UTF-8";
/* LOGO */
@font-face {
  font-family: "HSGyeoulNoonkott20";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HSGyeoulNoonkott20.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 깔끔, 둥글 */
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 깔끔폰트 */
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* 깔끔폰트 */
@font-face {
  font-family: "MonoplexKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* 귀여움 */
@font-face {
  font-family: "KyoboHandwriting2021sjy";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* Glow */
.detail {
  height: 100vh;
  background-color: white;
}

.detailBox {
  width: 440px;
}

.detailMain {
  position: relative;
  background-color: white;
}
.detailMain .imgBox {
  width: 100%;
}
.detailMain .imgBox > img {
  width: 100%;
  width: 440px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.detailMain .diaryInfoBox {
  display: flex;
  justify-content: flex-end;
  margin-top: -6px;
}
.detailMain .diaryInfoBox > div {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  padding-left: 10px;
  box-sizing: border-box;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #0e4f3d;
  color: #ffffff;
}
.detailMain .diaryInfoBox > div > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.detailMain .diaryInfoBox > div > div {
  padding-top: 10px;
  box-sizing: border-box;
}
.detailMain .diaryInfoBox > div > div p {
  line-height: 22px;
  font-size: 15px;
}
.detailMain .diaryInfoBox > div > div p:first-child {
  font-size: 20px;
}
.detailMain .diaryTitle {
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}
.detailMain .diaryTitle p {
  font-size: 30px;
  margin-top: 10px;
}

.detailList {
  height: 100%;
  background-color: #ffffff;
}
.detailList .ListSubTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  height: 60px;
  color: #ffffff;
  background-color: #0e4f3d;
  font-size: 20px;
}
.detailList .imgBox img {
  width: 100%;
  width: 440px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.detailList .diaryTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  justify-content: flex-start;
  height: 190px;
}
.detailList .diaryTitle span {
  font-size: 20px;
  line-height: 30px;
}/*# sourceMappingURL=detailPageStyle.module.css.map */