@charset "UTF-8";
/* LOGO */
@font-face {
  font-family: "HSGyeoulNoonkott20";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HSGyeoulNoonkott20.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 깔끔, 둥글 */
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Glow */
.warning {
  color: red;
  margin-top: 10px;
  font-size: 15px !important;
}

.disabled {
  color: #ffffff !important;
  background-color: #aaaaaa !important;
  cursor: default !important;
}

.success {
  color: #0e4f3d !important;
  margin-top: 10px;
  font-weight: 700;
  font-size: 15px !important;
}

.loginBox {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
}

.logoBox {
  width: 100%;
  height: 230px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  box-sizing: border;
  margin-bottom: 50px;
}
.logoBox div {
  width: 120px;
}
.logoBox h2 {
  font-family: "HSGyeoulNoonkott20";
  font-size: 60px;
  color: #000000;
}
.logoBox h3 {
  margin-top: -20px;
}

.signupTitleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 50px 0;
}
.signupTitleBox .lottie {
  width: 60px;
  position: absolute;
  right: 65px;
  top: -20px;
}
.signupTitleBox > p {
  margin-bottom: -5px;
  font-family: "HSGyeoulNoonkott20";
  font-size: 40px;
}

.inputBox {
  width: 100%;
}
.inputBox .inputList {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  color: #aaaaaa;
}
.inputBox .inputList > p {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}
.inputBox .inputList input {
  width: 100%;
  height: 52px;
  padding-left: 12px;
  border-radius: 8px;
  background-color: #f4f4f4;
  outline: none;
  font-size: 17px;
}
.inputBox .inputList input::placeholder {
  color: #aaaaaa;
  font-size: 17px;
}
.inputBox .inputList label {
  margin-top: 10px;
  font-size: 15px;
}
.inputBox .inputList .subCheck {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputBox .inputList .subCheck button {
  width: 50%;
  height: 52px;
  margin-left: 8px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #0e4f3d;
}
.inputBox .inputList .iconBtn {
  position: absolute;
  top: 30px;
  right: 0;
  height: 52px;
  cursor: pointer;
  background-color: #f4f4f4;
}
.inputBox .inputList .iconBtn > img {
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.buttonBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  text-align: center;
  color: #666666;
}
.buttonBox > button {
  margin: 16px 0;
  height: 52px;
  border-radius: 8px;
  font-weight: 700;
  color: #ffffff;
  background-color: #0e4f3d;
}
.buttonBox > span {
  color: #aaaaaa;
  font-size: 17px;
}
.buttonBox span:last-child {
  cursor: pointer;
}