@charset "UTF-8";
/* LOGO */
@font-face {
  font-family: "HSGyeoulNoonkott20";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HSGyeoulNoonkott20.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 깔끔, 둥글 */
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Glow */
.modalOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
}

.modalBox {
  width: 400px;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalBox > p {
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
}
.modalBox button {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #aaaaaa;
  background-color: #ffffff;
  font-size: 20px;
  text-align: left;
  color: #000000;
}
.modalBox button:last-child {
  border: none;
  margin-top: 20px;
  text-align: center;
}
.modalBox button:hover {
  background-color: #f4f4f4;
}