@charset "UTF-8";
/* LOGO */
@font-face {
  font-family: "HSGyeoulNoonkott20";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HSGyeoulNoonkott20.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 깔끔, 둥글 */
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Glow */
.homeNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 440px;
  height: 60px;
  padding: 0 20px;
  background-color: #0e4f3d;
}
.homeNav > p {
  font-size: 20px;
  font-weight: 700;
  font-family: "HSGyeoulNoonkott20";
  color: #ffffff;
  cursor: pointer;
}
.homeNav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homeNav > div > p {
  margin-left: 20px;
  cursor: pointer;
}

.middleNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 60px;
  padding: 0 20px;
  background-color: #ffffff;
}
.middleNavBar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middleNavBar .middleLeftBar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middleNavBar .mainPage > p {
  margin-right: 10 px;
  cursor: pointer;
}
.middleNavBar .mainPage > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.middleNavBar .listPage > p {
  cursor: pointer;
  margin: 0 8px;
}
.middleNavBar .middleRightBar > p {
  margin: 0 8px;
  cursor: pointer;
}

.subNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 440px;
  height: 60px;
  padding: 0 20px;
  background-color: #0e4f3d;
  color: white;
}
.subNavBar > p:first-child {
  cursor: pointer;
}
.subNavBar > p:last-child {
  cursor: pointer;
}

.footerBar {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  width: 439px;
  background-color: #0e4f3d;
}
.footerBar span {
  font-size: 20px;
  font-weight: 700;
  font-family: "HSGyeoulNoonkott20";
  color: #ffffff;
}